#CONVENCION 2,4,6: Usar espacios en lugar de tabulaciones
spring:
  application:
    name: spring-boot-api-rest-persona
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:orcl 
    username: system
    password: Vicos23
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect  
server:
  port: 7575